.profile-container-avatar-top-left- {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 4px dotted blue;
    padding: 10px;
}

.profile-container-avatar-top-left img {
    width: 100px;
    height: auto;
}

.profile-container-avatar-top-left p {
    font-size: 12px;
    margin: 0;
    padding-top: 5px;
}