.profile-container-avatarEndingPage {
    z-index: 10;
    top: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.avatarEndingPageName{

    text-align: center;
    
    
  
}


.profile-container-avatarEndingPage img {
    width: 50px;
    height: auto;
    width: 20%;
 
}

.profile-container-avatarEndingPage p {
    font-size: 12px;
    margin: 0;
    padding-top: 5px;
}