@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap%27);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');



.containerEndingPageEndingPageEnding{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #e46b43;
    width: 100dvw;
    height: 100dvh;
}



.containerEndingPage h2{
  color: yellow;
    text-shadow: 3px 3px 1px black;
}



.mainImageContainerEndingPage {
    top: 0;
    left: 0;
    position: fixed;
    border-radius: 2em;
    width: 20%;
}

.mainImageEndingPage {
    position: fixed;
    top: 20px;
    left: 20px;
    border-radius: 2em;
    width: 8%;
}

.mainTitleEndingPage {
    color: white;
    font-size: 1.25em;
    padding: 0px 50px;
    line-height: 1.5;
    text-shadow: 3px 3px 1px black;
    margin-bottom: 20px;
}


.buttonsContainerEndingPage {
    display: grid;
    gap: 3rem;
    width: 30%;
    
}

.questionButtonEndingPage {
   
    background-color: #00ccff;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;    
    
}

.questionButtonEndingPage:hover {
    background-color: #008bb0;
}

button:focus,
button:focus-visible {
    background-image: linear-gradient(#71009a7a, #e8e8e87c);
    color: rgba(0, 0, 0, 0.329);
    border-color: #646cff;
}

.progressBarContainerEndingPage {
    display: block;
    min-height: 100%;
}

.progressbarEndingPage { 
    position: relative;
    overflow: hidden;
    border: 5px solid #00ccff;
    justify-content: center;
    min-width: 80%;
    height: 10vh;
    width: 40vh;
    top: 50%;
    border-radius: 1em;
    background-color: #83e5fd05;
    box-shadow: 5px 5px 10px black;
}

.progressPercentEndingPage {
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 1.5em;
    top: 50%;
    color: white;
    border-radius: 2em;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.reviewSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.starsContainer {
    display: flex;
    color: gray !important;

}

.star{
    color: gray !important;
}


.star.active {
    margin-right: 5px;
    cursor: pointer;
    width: 20vh;
    height: 5dvh;
    color: gray !important;
}
/* Media Queries */

/* Small screens */
@media (max-width: 768px) {
    .mainTitleEndingPage {
        font-size: 0.75em;
    }

    .progressbarEndingPage {
        height: 3vh;
    }

    .progressPercentEndingPage {
        font-size: 0.75em;
    }
}

/* Extra small screens */
@media (max-width: 440px) {
    .mainTitleEndingPage {
        font-size: 0.5em;
        padding: 0px 0px;
        margin: 0px 20px;
    }

    .progressbarEndingPage {
        height: 8vh;
    }

    .progressPercentEndingPage {
        font-size: 0.75em;
    }
}

/* Landscape mode */
@media (orientation: landscape) and (max-height: 500px) {
    .mainTitleEndingPage {
        font-size: 1em;
        padding: 0px 0px;
        margin: 0px 20px;
        word-break: break-all;
    }

    .progressbarEndingPage {
        height: 10vh;
        width: 80vw;
    }

    .progressPercentEndingPage {
        font-size: 0.75em;
    }

    .mainImageContainerEndingPage {
        border-radius: 2em;
        width: 50%;
    }
}

/* Large screens */
@media (min-width: 1024px) {
    .mainTitleEndingPage {
        font-size: 1.5em;
    }

    .progressbarEndingPage {
        height: 10vh;
        width: 80vw;
    }

    .progressPercentEndingPage {
        font-size: 0.75em;
    }
}

/* Medium screens */
@media (min-width: 769px) and (max-width: 1023px) {
    .mainTitleEndingPage {
        font-size: 1em;
    }

    .progressbarEndingPage {
        height: 5vh;
        width: 60vw;
    }

    .progressPercentEndingPage {
        font-size: 1em;
    }
}