
@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap%27);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
  font-family: 'Press Start 2P';
}


img, picture, svg {
  display: block;
  max-width: 100%;
}

.containerEndingPage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 100dvh;
  overflow: hidden;

}

.mainImageContainerEndingPage{
  border-radius: 2em;
  width: 20%;
}

.mainImageEndingPage {
  border-radius: 2em;
  width: 100%;
}

.mainTitleEndingPage {
  color: #00ccff;
  font-size: 1.25em;
  padding: 0px 50px;

  line-height: 1.5;
  text-shadow: 7px 7px 3px black; 
}

.containerQuestionPage {
    --max-width: 1110px;
    --padding: 1rem;
    width: min(var(--max-width), 100% - (var(--padding) *2));
    margin-inline: auto;
}

.buttonsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.questionButtonEndingPage{
    background-image: linear-gradient(#00ccff, #E8E8E8);
    color: rgb(0, 0, 0);
    font-family: 'Press Start 2P', cursive;
    padding: 55px 10px;
    border-radius: 25px;
    line-height: 1;
    border: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 1em 1em purple;

}

.questionButton:hover {

    /*background-color: hsla(263, 98%, 60%, 0.411);*/
    background-image: linear-gradient(#71009a7a, #e8e8e87c);
    color: rgba(0, 0, 0, 0.329);
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    background-image: linear-gradient(#71009a7a, #e8e8e87c);
    color: rgba(0, 0, 0, 0.329);
    border-color: #646cff;
}

.progressBarContainer{
  display: block;
  min-height: 100%;
}

.progressbar{
  position: relative;
  overflow: hidden;
	border: 5px solid #00ccff;
  justify-content: center;
	/*border: 5px solid #004152;*/
	min-width: 80%;
	height: 10dvh;
  width: 40dvh;
  top: 50%;
	border-radius: 1em;
	background-color: #83e5fd05;
	box-shadow: 5px 5px 10px black;
}

.progressPercent{
  position: absolute;
	transform: translate(-50%,-50%);
	font-size: 1.5em;
  top: 50%;
	color: #00ccff;
	border-radius: 2em;
	text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
             1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
	/*text-shadow: 5px 5px 5px black;*/
	/*text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;*/
}


@media (width<768px) {
  .mainTitle{font-size: 0.5em;}
  .progressbar{
    height: 3dvh;
  }

  .progressPercent{
    font-size: 0.75em;
  }
}

@media (width<=440px) {
  .mainTitle{font-size: 1em;
         padding: 0px 0px;
         margin: 0px 20px;
      
         
        }

        .progressbar{
          height: 8dvh;
        }

        .progressPercent{
         font-size: 0.75em;
        }
         
 
}

/* Landscape mode */
@media (orientation: landscape) and (height <= 500px) {
  .mainTitle{font-size: 0.5em;
    padding: 0px 0px;
    margin: 0px 20px;
 
    word-break: break-all;
   }

   .progressbar{
     height: 10dvh;
     width: 80dvw;
  
   }

   .progressPercent{
    font-size: 0.75em;
   }
   .mainImageContainer{
    border-radius: 2em;
    border: 5px solid #00ccff;
    width: 50%;
  }

}

@media (width>=1024px) {
  .mainTitle{font-size: 0.5em;}
  .progressbar{
    height: 10dvh;
    width: 80dvw;

  }

  .progressPercent{
    font-size: 0.75em;
  }
}