.containerGetReady {
	background-color: #e46b43;
	width: 100dvw;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.containerGetReady h3 {
	color: white;
	text-shadow: 1px 3px 1px black;
}

.containerGetReady span {
	color: white;
}



.testesttest{
	border: 2px solid black;
}


.progressbarGetReady{
	position: relative;
	overflow: hidden;
	width: 700px;
	height: 80px;
	border-radius: 5px;
	background-color: #eee;
	border-radius: 1em;
	border: 5px solid black;
	box-shadow: 5px 5px 10px black;
}

.progressPercentGetReady{
    font-size: 2em;
	color: white;
	text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

/*
.btnGetReady{
	display: block;
	margin: 5rem auto;
	border: none;
	border-radius: 3px;     
	outline: none;
	width: 100px;
	height: 40px;
	background-color: #937DC2;
	transition: box-shadow 0.5s;
	font-size: 16px;
	font-family:arial;
	color: #fff;
	cursor: pointer;
}

.btn:hover{
	-webkit-box-shadow: inset 100px 0 0 0 #7c54d1;
    box-shadow: inset 100px 0 0 0 #7c54d1;
}
	*/