@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap%27);


.mainQuestionDivQuestionPage {
    color: white;
    text-shadow: 3px 3px 3px black;
}

.containerQuestionPage {
    padding: 0px 12px;
    background-color: #e46b43;
    flex-direction: column;
    place-content: center space-evenly;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 5rem;
}
.buttonsContainerQuestionPage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}



.mainImageDivQuestionPage {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 20%;
    border-radius: 25px;

}

.mainImageQuestionPage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 25px;

}



