.resultPage-main-container {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e46b43;
    overflow: hidden;
}


.result-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    width: 100%;
}

.result-container h1 {
    font-size: 48px;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.voting-results-displayed {
    width: 80%;
    padding-bottom: 12px;
    border-bottom: 3px solid white;
}

.voting-results-displayed p {
    font-size: 1.5em;
    color: white;
    text-shadow: 1px 2px 1px black;
}

.emoji-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

.emoji-container p {
    font-size: 4em;
}

.result-bar {
    width: 5dvw;
    background-color: red;
    border: 3px solid black;
    border-top-left-radius: 1dvw;
    border-top-right-radius: 1dvw;
}


.emoji:active {
    animation: jump 0.5s ease;
}

.spawning-emojis{
    position: absolute;
    animation: floatUp 5s forwards;
}



@keyframes floatUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-200px);
        opacity: 0;
    }
}


@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@media (width <= 1024px) {
    .result-container h1 {
        font-size: 48px;
    }

    .emoji-container p {
        font-size: 4em;
    }



}

@media (height <= 550px) {
    .result-container h1 {
        font-size: 32px;
        
    }

    .emoji-container p {
        font-size: 2em;
    }

    .voting-results-displayed {
        padding-bottom: 0px;
    }

    .result-container {
        height: 100%;
    }

}
