.resultPage-main-container {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}


.result-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    width: 100%;
}

.result-container h1 {
    font-size: 48px;
}

.voting-results-displayed {
    height: 100%;
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 5px solid white;
}

.voting-results-displayed p {
    font-size: 1.5em;
}

.emoji-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

.emoji-container p {
    font-size: 6em;
}

.result-bar {
    width: 5dvw;
    background-color: red;
    border: 3px solid black;
    border-top-left-radius: 1dvw;
    border-top-right-radius: 1dvw;
}


@media (height < 550px) {
    .result-container h1 {
        font-size: 32px;
    }


    .result-container {
        display: grid;
        justify-content: flex-end;
        text-align: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto;
        height: 100%;
        width: 100%;
    }


    .result-title-container {
        grid-column: 5 / 9;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .voting-results-displayed {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        gap: 20px;
        border-bottom: none;
        height: 50%;
    }

    .emoji-container {
        grid-column: 8 / 10;
        grid-row: 2 / 3;
        gap: 20px;

    }

    .emoji-container p {
        font-size: 4em;
    }
}




@media (height < 376px) {
    .result-container h1 {
        font-size: 16px;
    }


    .result-container {
        display: grid;
        justify-content: flex-end;
        text-align: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto;
        height: 100%;
        width: 100%;
    }


    .result-title-container {
        grid-column: 5 / 9;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .voting-results-displayed {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        gap: 20px;
        border-bottom: none;
        height: 40%;
    }

    .emoji-container {
        grid-column: 9 / 11;
        grid-row: 2 / 3;
        gap: 20px;

    }

    .emoji-container p {
        font-size: 3em;
    }
}

@media (width > 1024) {
    .result-container h1 {
        font-size: 72px;
    }


    .result-container {
        display: grid;
        justify-content: flex-end;
        text-align: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto;
        height: 100%;
        width: 100%;
    }


    .result-title-container {
        grid-column: 5 / 9;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .voting-results-displayed {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        gap: 20px;
        border-bottom: none;
        height: 50%;
    }

    .emoji-container {
        grid-column: 9 / 11;
        grid-row: 2 / 3;
        gap: 20px;

    }

    .emoji-container p {
        font-size: 3em;
    }
}

@media (width < 1024) and (height < 712px) {
    .result-container h1 {
        font-size: 16px;
    }


    .result-container {
        display: grid;
        justify-content: flex-end;
        text-align: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto;
        height: 100%;
        width: 100%;
    }


    .result-title-container {
        grid-column: 5 / 9;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .voting-results-displayed {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        gap: 20px;
        border-bottom: none;
        height: 40%;
    }

    .emoji-container {
        grid-column: 9 / 11;
        grid-row: 2 / 3;
        gap: 30px;

    }

    .emoji-container p {
        font-size: 3em;
    }
}