.name-and-avatar-container {
    background: linear-gradient(to bottom, #1A1A2E 45%, #68687a 65%, #1A1A2E 100%);
    display: grid;
    grid-template-columns: 12fr repeat(1fr);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    height: 100dvh;
    overflow:hidden;
    position: relative;
}
* {
    color: #fafafc;
}

.info-boxAvatar {
    border-bottom: 3px solid black;
    width: 100dvw;
    padding-bottom: 8px;

}

.info-boxAvatar p {
    padding: 10px;
}

.name-containerAvatar {
    padding: 26px 0px 64px 0px;
}

.name-containerAvatar p {
    padding-top: 26px;
}

.avatars-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
    padding: 32px;
}

.avatars-container img {
    width: 100px;
}

.continue-buttonAvatar {
    padding: 8px;
    border: 2px solid black;
    background: linear-gradient(to bottom, #fafafc, #1A1A2E);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* unormalt liten skjerm */
@media (width <= 360px) {
    .avatars-container {
        background-color: pink;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 20px;
        padding: 32px;
    }
}



/* basically anything 768px eller stÃ¸rre i viewport */
@media (width >= 786px) {
    .avatars-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: auto;
        row-gap: auto;
        padding: 32px;
    }
}


/* Landscape mode */
@media (height <= 615px) {
    .username-and-avatar-mini-container {
        width: 90dvw;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .avatars-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: auto;
        padding: 8px 0px;
    }

    .avatars-container img {
        width: 75px;
    }
    .info-boxAvatar p {
        font-size: 16px;
        padding: 0px;
    }

    .name-containerAvatar {
        padding: 0px 0px;
    }

}