
 @import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap%27);

:root {
  font-family: 'Press Start 2P', cursive;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fw-size-smallest: 0.25em;
  --fw-size-smaller: 0.5em;
  --fw-size: 1em;
  --fw-size-larger: 2em;
  --fw-size-largest: 3em;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html, body {
  margin: 0;
  background-image: linear-gradient(#490064, #490064, #8200b1ab, #a005be42 , #E8E8E8, #a005be42, #8200b1ab,  #490064, #490064, #490064);
  min-height: 100vh;
}


img, picture, svg {
  display: block;
  max-width: 100%;
}




::-moz-selection { /* Code for Firefox */

  color: red;
  background: yellow;
}

::selection {
  color: red;
  background: yellow;
}



html:focus-within {
  scroll-behavior: smooth;
}


.padding-block {
  padding-block: 2rem;
}

.container{
  max-width: 60%;
  margin: 0 auto;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: rgba(255, 255, 255, 0.5)
  
  }
}


@media (min-width: 50em) {
  .buttonsContainer {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

  }
}

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
*/

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.mainBoxcontainer {
  position: relative;
  height: 100vh;
}

.mainTitleDivcontainer{
position: relative;
top: 20%;
margin: 0 auto;
}

.mainTitlecontainer{
  color: #00ccff;

  line-height: 1.5;
  text-shadow: 7px 7px 3px black; 
  text-align: center;
  /*word-wrap: break-word;*/

  /* #00afdb; */
  
}
.imgBoxcontainer {
  position: inherit;
  top: 40%;
  width: 60%;
  border-radius: 2em;

  margin: 0 auto;
  box-shadow: 5px 5px 10px black;
}

.mainImagecontainer {
  border-radius: 2em;
  border: 5px solid #00ccff;
  min-width: 100%;
}

footer {
position: absolute;
color: #69008E;
margin-left: 10px;
left:0;
bottom:0;
right:0;  
}

*, *::before, *::after {
  box-sizing: border-box;
}

.loadingBar {
  position: relative;
  width: 500px;
  height: 3em;
  background-color:black;
  border-radius: 1.5em;
  color: cyan;
  left: 30%;
}

.loadingBar::before {
  content: attr(data-label);
  display: flex;
  align-items: center;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  bottom: 0.5em;
  width: calc(var(--width, 0) * 1%);
  min-width: 2rem;
  max-width: calc(100% - 1em);
  background-color: aqua;
  border-radius: 1em;
  padding: 1em;
}

