


.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    background-color: black;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* xs */
 @media (min-width: 475px) {  } 

/* sm */
 @media (min-width: 640px) {} 

/* md */
 @media (min-width: 768px) {} 

/* lg */
 @media (min-width: 1024px) {} 

/* xl */
 @media (min-width: 1280px) {} 

/* 2xl */
@media (min-width: 1536px) {
} 


 @import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap%27);

:root {
  font-family: 'Press Start 2P', cursive;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fw-size-smallest: 0.25em;
  --fw-size-smaller: 0.5em;
  --fw-size: 1em;
  --fw-size-larger: 2em;
  --fw-size-largest: 3em;

}

img, picture, svg {
  display: block;
  max-width: 100%;
}



@media (min-width: 50em) {
  :root {

  }
}

::-moz-selection { /* Code for Firefox */

  color: red;
  background: yellow;
}

::selection {
  color: red;
  background: yellow;
}
html, body {
  min-height: 100%;
  margin: 0;
  background-image: linear-gradient(#72009A, #E8E8E8, #72009A, #E8E8E8);
}



html:focus-within {
  scroll-behavior: smooth;
}


.padding-block {
  padding-block: 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: rgba(255, 255, 255, 0.5)
  
  }
}


@media (min-width: 50em) {
  .buttonsContainer {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

  }
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.mainBoxcontainer {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  margin-inline: auto;
  border: 5px solid black;
}

.mainTitleDivcontainer{
 position: relative;


  top: 30%;
  /*

  word-wrap: break-word;
    */


}

.mainTitlecontainer{
  color: #FFD700;
  font-size: 3em;
  text-shadow: 4px 4px 5px black;
  text-align: center;
  /*word-wrap: break-word;*/
  
}
.imgBoxcontainer {
  position: absolute;
  transform: translate(-50%, -50%);

  min-height: 30%;
  left: 50%;
  top: 80%;
  border: 5px solid black;
}

.mainImagecontainer {
  border-radius: 2em;
  border: 10px solid #72009A;
  min-width: 100%;
}

footer {
position: absolute;
color: #69008E;
margin-left: 10px;
left:0;
bottom:0;
right:0;  
}

