.Appe{
	display: flex;
	justify-content: center;
	align-items: center;
	
}


.progressbar{
	position: absolute;
	overflow: hidden;
	min-width: 80%;
	height: 10%;
	transform: translate(-50%, -50%);
	border-radius: 3em;
	top: 50%;
	left: 50%;
	background-color: #fff9ff;
}

.progressPercent{
	font-size: 2em;
	font-family:'Franklin Gothic Medium';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: #FFD700;
	text-shadow: 4px 4px 6px black;
	/*text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;*/
}

.btn{
	display: block;
	margin: 5rem auto;
	border: none;
	border-radius: 3px;     
	outline: none;
	width: 100px;
	height: 40px;
	background-color: #937DC2;
	transition: box-shadow 0.5s;
	font-size: 16px;
	font-family:arial;
	color: #fff;
	cursor: pointer;
}

.btn:hover{
	-webkit-box-shadow: inset 100px 0 0 0 #7c54d1;
    box-shadow: inset 100px 0 0 0 #7c54d1;
}