.Appe{
	display: flex;
	justify-content: center;
	align-items: center;
	
}


.progressbar{
	position: absolute;
	overflow: hidden;
	border: 5px solid #00ccff;
	min-width: 80%;
	height: 10%;
	transform: translate(-50%, -50%);
	border-radius: 1em;
	top: 45%;
	left: 50%;
	background-color: #83e5fd63;
	box-shadow: 5px 5px 10px black;
}

.progressPercent{
	font-size: 1.5em;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: #00ccff;
	
	text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
             1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
	/*text-shadow: 5px 5px 5px black;*/
	/*text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;*/
}

.btn{
	display: block;
	margin: 5rem auto;
	border: none;
	border-radius: 3px;     
	outline: none;
	width: 100px;
	height: 40px;
	background-color: #937DC2;
	transition: box-shadow 0.5s;
	font-size: 16px;
	font-family:arial;
	color: #fff;
	cursor: pointer;
}

.btn:hover{
	-webkit-box-shadow: inset 100px 0 0 0 #7c54d1;
    box-shadow: inset 100px 0 0 0 #7c54d1;
}